main > div {
    min-width: 200px;
    min-height: 120px;
    margin: 4px;
    flex-grow: 1;
}

main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.first {
    background-color: bisque;
}

.second {
    background-color: cadetblue;
}

.third {
    background-color: dodgerblue;
}

.fourth {
    background-color: orchid;
}

.fifth {
    background-color: sienna;
}
