main > div {
    min-width: 200px;
    min-height: 120px;
    margin: 4px;
}

main{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.first {
    background-color: bisque;
}

.second {
    background-color: cadetblue;
}

.third {
    background-color: dodgerblue;
}

.fourth {
    background-color: orchid;
}

.fifth {
    background-color: sienna;
}
